numpy
scipy
pandas
matplotlib
scikit-image
scikit-learn
tqdm
networkx
shapely
geopandas
rtree
rasterio
tifffile
seaborn
pyqt5
tensorflow
opencv-python
pillow
torch
torchvision
segment-anything
segmenteverygrain
